.base {
  --padding-sm: 0 0.7rem;
  --padding-md: 0.7rem 1rem;
  --padding-lg: 1rem 2rem;

  --border-radius-sm: 0.3rem;
  --border-radius-md: 0.5rem;

  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  padding: var(--button-padding-small);
}

/* Variants */

.primary {
  color: lightgrey;
  padding: var(--padding-md);
  border-radius: var(--border-radius-md);
  background-color: var(--button-add-bg);
}
.secondary {
  border-radius: var(--border-radius-md);
  width: 100%;
  color: var(--nav-main-text);
  background-color: var(--nav-bg-selected-text);
  padding: var(--padding-lg);
  margin: 2rem 0;
}

.save {
  color: white;
  padding: var(--padding-md);
  border-radius: var(--border-radius-sm);
  background-color: var(--nav-bg-selected-text);
}

.delete {
  color: aliceblue;
  background-color: brown;
  padding: var(--padding-md);
  border-radius: var(--border-radius-sm);
}

.clear {
  color: brown;
}

/* Sizes */
.small {
  font-size: var(--fs-small);
}

.medium {
  font-size: var(--fs-mid);
}

.big {
  font-size: var(--fs-big);
}

.bigger {
  font-size: var(--fs-bigger);
}

@media screen and (max-width: 803px) {
  .big {
    font-size: var(--fs-mid);
  }
}
