/* no-project */
.noProjectContainer h2 {
  color: var(--no-project-text);
}

.noProjectContainer p {
  color: grey;
  padding: 1rem 0;
}

.noProjectContainer {
  text-align: center;
}

.noProjectContainer > * {
  margin-bottom: 15px;
}

@media screen and (max-width: 477px){
  .noProjectContainer img {
    display: inline-block;
    text-align: center;
  }
}